APARTMENT_BOT_ENV=dev
GEO_DATA_DIR=./data/geo
STATE_STORE_DIR=./data/runtime

TARGET_RENT=4500
HARD_MAX_RENT=5750
MIN_BEDS=2
MIN_BATHS=1
PREFERRED_MIN_SQFT=850

SF_GYM_THRESHOLD_MILES=0.5
PENINSULA_GYM_THRESHOLD_MILES=2.0

HIGH_SCORE_THRESHOLD=75
MEDIUM_SCORE_THRESHOLD=50

TWILIO_ACCOUNT_SID=TODO
TWILIO_AUTH_TOKEN=TODO
TWILIO_FROM_NUMBER=TODO
USER_ONE_NAME=Shane
USER_ONE_PHONE=TODO
USER_TWO_NAME=Wife
USER_TWO_PHONE=TODO

GOOGLE_SHEETS_SPREADSHEET_ID=TODO
GOOGLE_SERVICE_ACCOUNT_JSON=TODO
GOOGLE_SHEET_TAB=Listings

N8N_SHARED_SECRET=TODO
OUTREACH_SENDER_NAME=TODO
